/* header */
.header {
    background-color: #dada37;
}

.header--title > a{
    font-family: 'Rubik Dirt', cursive;
    color: #000;
    font-size: 5rem;
    padding-left: 20%;
    text-decoration: none;
}
.header--title-a:hover {
    color: #910B0B;
    text-decoration: none;
}

.logo__image {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 6rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Iceland', cursive;
}
.nav-link:hover {
    color: #910B0B;
    text-decoration: none;
}
 .nav-item {
    padding-left: 1.5rem;
 }

.dropdown-item {
    font-family: 'Iceland', cursive;
}

.navbar-toggler {
    border-color: #000;
    border-width: 2.5px;
}

/* .navbar-toggler-icon {
    color: #000;
} */