<form method="post" action="{{ path('app_back_player_delete', {'id': player.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce joueur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
