{% extends 'base.html.twig' %}


{% block body %}
    <div class="back-office">
        <h1>Nouveau Joueur</h1>
        <a href="{{ path('app_back_player_index') }}" class="btn btn-warning">retour au menu</a>

        {{ include('back/player/_form.html.twig') }}

    </div>
{% endblock %}
